version: 2.1

orbs:
  orb-tools: circleci/orb-tools@12.4.0
  linter: talkiq/linter@volatile

executors:
  python:
    docker:
      - image: python:3.14.3
    resource_class: small

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          executor: python
          filters:
            tags:
              only: /.*/

      - orb-tools/lint:
          name: lint-orbs-<<matrix.source_dir>>
          matrix:
            parameters:
              source_dir: [docker, gcloud, linter, notifier, poetry]
          source_dir: <<matrix.source_dir>>
          filters:
            tags:
              only: /.*/

      - orb-tools/pack:
          name: pack-orbs-talkiq/<<matrix.source_dir>>
          matrix:
            parameters:
              source_dir: [docker, gcloud, linter, notifier, poetry]
          source_dir: <<matrix.source_dir>>
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - lint-orbs-<<matrix.source_dir>>

      - orb-tools/publish:
          name: publish-dev-orbs-<<matrix.orb_name>>
          matrix:
            parameters:
              orb_name: [talkiq/docker, talkiq/gcloud, talkiq/linter, talkiq/notifier, talkiq/poetry]
          orb_name: <<matrix.orb_name>>
          pub_type: dev
          vcs_type: << pipeline.project.type >>
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
          requires:
            - pack-orbs-<<matrix.orb_name>>

      - orb-tools/publish:
          name: publish-prod-orbs-<<matrix.orb_name>>
          matrix:
            parameters:
              orb_name: [talkiq/docker, talkiq/gcloud, talkiq/linter, talkiq/notifier, talkiq/poetry]
          orb_name: <<matrix.orb_name>>
          pub_type: production
          vcs_type: << pipeline.project.type >>
          tag_pattern: '^<<matrix.orb_name>>-v[0-9]+\.[0-9]+\.[0-9]+$'
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^talkiq\/.+-v[0-9]+\.[0-9]+\.[0-9]+$/
          requires:
            - pack-orbs-<<matrix.orb_name>>
