version: 2.1

orbs:
  orb-tools: circleci/orb-tools@12.4.0
  linter: talkiq/linter@volatile

executors:
  python:
    docker:
      - image: python:3.14.3
    resource_class: small

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          executor: python
          filters:
            tags:
              only: /.*/

      - orb-tools/lint:
          name: lint-orbs-<<matrix.orb>>
          matrix:
            parameters:
              orb: [docker, gcloud, linter, notifier, poetry]
          source_dir: <<matrix.orb>>
          filters:
            tags:
              only: /.*/

      - orb-tools/pack:
          name: pack-orbs-<<matrix.orb>>
          matrix:
            parameters:
              orb: [docker, gcloud, linter, notifier, poetry]
          source_dir: <<matrix.orb>>
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - lint-orbs-<<matrix.orb>>

      - orb-tools/publish:
          name: publish-dev-orbs-<<matrix.orb>>
          matrix:
            parameters:
              orb: [docker, gcloud, linter, notifier, poetry]
          orb_name: talkiq/<<matrix.orb>>
          pub_type: dev
          vcs_type: << pipeline.project.type >>
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
          requires:
            - pack-orbs-<<matrix.orb>>

      - orb-tools/publish:
          name: publish-prod-orbs-<<matrix.orb>>
          matrix:
            parameters:
              orb: [docker, gcloud, linter, notifier, poetry]
          orb_name: talkiq/<<matrix.orb>>
          pub_type: production
          vcs_type: << pipeline.project.type >>
          tag_pattern: '^talkiq/<<matrix.orb>>-v[0-9]+\.[0-9]+\.[0-9]+$'
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^talkiq\/<<matrix.orb>>-v[0-9]+\.[0-9]+\.[0-9]+$/
          requires:
            - pack-orbs-<<matrix.orb>>
