version: 2.1

orbs:
  orb-tools: circleci/orb-tools@7.3.0
  linter: talkiq/linter@volatile

executors:
  python:
    docker:
      - image: python:3.12.5
    resource_class: small

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          executor: python
          filters:
            tags:
              only: /.*/

      - orb-tools/lint:
          name: lint-orbs-<<matrix.lint-dir>>
          matrix:
            parameters:
              lint-dir: [docker, gcloud, linter, notifier, poetry]
          filters:
            tags:
              only: /.*/

      - orb-tools/pack:
          name: pack-orbs-talkiq/<<matrix.source-dir>>
          matrix:
            parameters:
              source-dir: [docker, gcloud, linter, notifier, poetry]
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - lint-orbs-<<matrix.source-dir>>

      - orb-tools/publish-dev:
          name: publish-dev-orbs-<<matrix.orb-name>>
          matrix:
            parameters:
              orb-name: [talkiq/docker, talkiq/gcloud, talkiq/linter, talkiq/notifier, talkiq/poetry]
          filters:
            tags:
              only: /.*/
          requires:
            - pack-orbs-<<matrix.orb-name>>

      - orb-tools/dev-promote-prod:
          name: dev-promote-prod-orbs-<<matrix.orb-name>>-<<matrix.release>>
          matrix:
            parameters:
              orb-name: [talkiq/docker, talkiq/gcloud, talkiq/linter, talkiq/notifier, talkiq/poetry]
              release: [patch, minor, major]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /<<matrix.orb-name>>-<<matrix.release>>/
          requires:
            - publish-dev-orbs-<<matrix.orb-name>>
